@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=DynaPuff:wght@400;500;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Saira+Stencil+One&display=swap');

$pink-50: #FFE3EC;
$pink-100: #FFB8D2;
$pink-300: #F364A2;
$pink-700: #A30664;
$pink-800: #870557;
$pink-900: #620042;

$purple-accent: #9446ED;

$hand-drawn: 'Delicious Handrawn', sans-serif;
$dyna-puff: 'DynaPuff', sans-serif;
$poppins: 'Poppins', sans-serif;
$stencil: 'Saira Stencil One', monospace;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFB8D2;
    border-top: $pink-900 12px solid;

    font-family: $poppins;
    font-size: 21px;
    line-height: 1.75;
    color: $pink-900;

    h1, h2 {
        font-family: $dyna-puff;
        font-size: 36px;
        line-height: 1.25;

        @media screen and (min-width: 590px) {
            font-size: 48px;
        }

        @media screen and (min-width: 768px) {
            font-size: 56px;
        }
    }

    h3 {
        font-family: $poppins;
        color: $purple-accent;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
}
